@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.wrapper {
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

html {
    scroll-behavior: smooth;
  }

.homeContent {
  margin-left: 3%;
  margin-right: 3%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar specific content  */

li, a{
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

header {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    border-bottom:1.5px solid rgb(0,0,0);padding-bottom:3px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.navopts {
    list-style: none;
}

.navopts li{
    display: inline-block;
    padding: 10px;
}

.navopts li a{
    transition: all 0.3 ease 0s;
}

.navopts li a:hover{
   color: #f58c02;
}

.navopts li a {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    }

#navBar button {
    border-radius: 40px;
    padding: 7px 14px;
    margin-left: 18px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    
}

/* Navbar specific content END */

.banner {
    width: 100%;
    height: auto;
}

/* Header formatting */

.blogContent h1{
    font-family: "Lora", serif;
    font-weight: 400;
    text-align: center;
    font-size:calc(20px + 2vw);
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: #000000;
    text-decoration: none;
}

em {
    color:rgb(243, 161, 53); 
    font-family: "Lora", serif;
    font-style: normal;
    
}

.blogContent p{
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 7%;
    margin-right: 7%;
    text-align:justify;
    word-spacing:-1px;
}

.blogContent i {
    font-style: italic;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 19px;
}

.blogContent > p > a {
  color:rgb(245, 140, 2);
  font-size: 18px;
}

  .contactText h1{
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 50px;
    color: #000000;
    text-decoration: none;
    margin-left: 3%;
    margin-top: 0.4em;
}

h2{
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 35px;
    color: #000000;
    text-decoration: none;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.blogContent h2{
  font-family: "Lora", serif;
  text-align: start;
  font-style:italic;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 0.6em;
}

h3{
    font-family: "Lora", serif;
    text-align: center;
}

.blogContent h3{
  font-family: "Lora", serif;
  text-align: start;
  font-style: italic;
  font-size: 18px;
  margin-left: 8%;
  margin-bottom: 0.7em;
}

/* End of header formatting */

/* Button formatting */

button {
    background: rgb(245, 140, 2);
    border: none;
    cursor: pointer;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

button:hover{
    background: rgb(243, 161, 53);
}

.blogbutton {
    width: 100%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

#myUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background: rgb(245, 140, 2);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
    height: 45px;
    width: 45px;
  }

@media (hover: hover) {
  #myUpBtn:hover {
    background-color: rgb(247, 148, 20);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
}

  /* End of Button formatting */

 /* Blog post selection */ 


.gridWrapper > div:hover{
    box-shadow: 2px 4px 8px 2px rgba(245, 140, 2, .4);
}

.gridWrapper > div:hover:nth-child(3){
    box-shadow: 2px 4px 8px 2px rgba(172, 172, 172, 0.836);
}

.gridWrapper > div{
    padding: 1em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.grid-container{
    display:grid;
}

.gridWrapper{
    grid-template-columns: repeat(auto-fill, minmax(314px, 1fr));
    gap: 1em;
    font-family: "Lora", serif;
    padding: 1%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.twoGridNested{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.threeColumngrid{
    display:grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
}

.threeColumnThree > p{
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 15px;
    text-align: center;
}

.twoGridNestedLeft{
    grid-column: 1;
}

.twoGridNestedRight{
    grid-column: 2;
} 

.twoGridNestedRight > p > a{
    color:rgb(245, 140, 2);
    font-size: 16px;
}

.twoGridNestedRight > p {
    text-align: end;
    margin-top: 0.3em;
}

.twoGridNestedRight > p > a:hover {
    color:rgb(243, 161, 53);
}

.twoGridNestedLeft > img{
    width: 15px;
    height: 15px;
    float: left;
} 

.twoGridNestedLeft > p{
    padding-top: 0.5em;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
} 

.blogImage{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogImageMeta{
    margin-top: 0.5em;
}

/* End of blog post selection */

 /* Extending Floating Button found Here: https://stackoverflow.com/questions/29209244/css-floating-action-button   */

 .flBtnCntr {
    display: inline-flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    position: fixed;
  }

  .flBtnBox {
    outline: 0;
    border: 0;  
    border-radius: 50%;
    background-color: rgb(245, 140, 2);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
  }

  .flBtnBox.big {
    transform: rotate(0deg);
    background-color: rgb(245, 140, 2);
    font-size: 35px;
    height: 45px;
    width: 45px;
  }
  .flBtnBox.small {
    animation: showBtn 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    transform: scale(0);
    background-color: white;
    outline: none;
    margin: 0 6px;
    height: 35px;
    width: 35px;
  }
  .flBtnBox.small:nth-child(2) {
    animation-delay: 150ms
  }
  .flBtnBox.small:nth-child(3) {
    animation-delay: 300ms
  }

  @keyframes showBtn {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1)
    }
  }
  
  @media (hover: hover) {
    .flBtnBox.big:hover, .flBtnBox.big:active{
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
      background-color: rgb(247, 148, 20);
      animation: out 1s;
    }
  }

  @keyframes out {
    0% {
      -webkit-transform: rotate(-90deg);
    }
  
    100% {
      -webkit-transform: rotate(0deg);
    }
  }

  .flBtnBox.small:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
  }

  .flBtns {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    display: none;
    padding: 0 6px;
    align-items: center
  }
  .flBtnCntr:hover .flBtns {
    display: inline-flex
  }

/* End of Extending Floating Button*/

/* About Me secion specific content */

.aboutMePicture {
  margin-top: 1em;
  margin-bottom: 2em;
  margin-right: 1.5em;
  margin-left: 0.2em;
  float: left;
  shape-outside: circle();
}

/*This will cause the img receive float none rule when screen is smaller than 768px*/
@media only screen and (max-width: 550px) {
  .aboutMePicture {
      float: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 1em;
      width: 80%;
  }
}

.aboutMe p{
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 22px;
  margin-left: 4%;
  margin-right: 4%;
}

.aboutMeQuote{
  text-align: end;
  margin-bottom: 3em;
}

/* End of About Me secion specific content */

/* Link Underline (Source: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/) */

.email {
  position: relative;
  color: #000;
  text-decoration: none;
}

.email:hover {
  color: #000;
}

.email::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.email:hover::before {
  transform: scaleX(1);
}

/* Contact Page specific content */

.contactText p {
  font-family: "Lora", serif;
font-weight: 400;
font-size: 20px;
margin-left: 4.5vw;
margin-right: 4.5vw;
text-align: justify;
word-spacing:-2px;
}

.contactText > p > a {
font-family: "Lora", serif;
font-weight: 400;
font-size: 20px;
}
