@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.wrapper {
    margin-left: auto;
    margin-right: auto;
}

html {
    scroll-behavior: smooth;
  }

.homeContent {
  margin-left: 2em;
  margin-right: 2em;
}

/* Navbar specific content  */

li, a{
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

header {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    border-bottom:1.5px solid rgb(0,0,0);padding-bottom:3px;
    
    
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

.navopts {
    list-style: none;
}

.navopts li{
    display: inline-block;
    padding: 5px;
}

.navopts li a{
    transition: all 0.3 ease 0s;
}

.navopts li a:hover{
   color: #f58c02;
}

.navopts li a {
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    }

#navBar button {
    border-radius: 50px;
    padding: 9px 18px;
    margin-left: 18px;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    
}

/* Navbar specific content END */


.banner {
    width: 100%;
    height: auto;
}


/* Header formatting */

.blogContent h1{
    font-family: "Lora", serif;
    font-weight: 400;
    text-align: center;
    font-size: 40px;
    font-size: 4.5vw;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: #000000;
    text-decoration: none;
}

em {
    color:rgb(243, 161, 53); 
    font-family: "Lora", serif;
    font-style: normal;
}

.blogContent p{
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 16px;
    margin-left: 6%;
    margin-right: 6%;
    text-align:justify;
    word-spacing:-2px;
}

.blogContent i {
    font-style: italic;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 18px;
    margin-left: 2em;
  }

  h1{
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 50px;
    color: #000000;
    text-decoration: none;
    margin-left: 1em;
    margin-top: 0.4em;

}

h2{
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 35px;
    color: #000000;
    text-decoration: none;
    padding-left: 5px;

}

h2 u{
    text-decoration: underline;
    text-decoration-thickness: 0.08em;
    -webkit-text-decoration-color: rgb(243, 161, 53); /* safari still uses vendor prefix */
    text-decoration-color: rgb(243, 161, 53);
}

h3{
    font-family: "Lora", serif;
    text-align: center;

}
/* End of header formatting */

/* Button formatting */

button {
    background: rgb(245, 140, 2);
    border: none;
    cursor: pointer;
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
}

button:hover{
    background: rgb(243, 161, 53);
}

.blogbutton {
    width: 100%;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  }

#myUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background: rgb(245, 140, 2);
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 70%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4)
  }

  #myUpBtn:hover {
    background: rgb(243, 161, 53);
  }

  /* End of Button formatting */
  
   /* Extending Floating Button found Here: https://stackoverflow.com/questions/29209244/css-floating-action-button   */

   .extendFloat {
    background-color: rgb(245, 140, 2);
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    left: 20px;
    border-radius: 100%;
    background: rgb(245, 140, 2);
    border: none;
    outline: none;
    color: #FFF;
    font-size: 36px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: .3s;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  .extendFloat:focus {
    transform: scale(1.1);
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
 
/* End of button formatting */

 /* Blog post selection */ 


.gridWrapper > div:hover{
    box-shadow: 2px 4px 8px 2px rgba(245, 140, 2, .4);
}

.gridWrapper > div:hover:nth-child(3){
    box-shadow: 2px 4px 8px 2px rgba(172, 172, 172, 0.836);
}

.gridWrapper > div{
    padding: 1em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}


.grid-container{
    display:grid;
}

.gridWrapper{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1em;
    font-family: "Lora", serif;
    padding: 1%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.twoGridNested{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.threeColumngrid{
    display:grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
}


.threeColumnThree > p{
    margin-left: 1.5em;
    margin-right: 1.5em;
    font-size: 15px;
    text-align: center;
}

.twoGridNestedLeft{
    grid-column: 1;
}

.twoGridNestedRight{
    grid-column: 2;
} 

.twoGridNestedRight > p > a{
    color:rgb(245, 140, 2);
    font-size: 16px;
}

.twoGridNestedRight > p {
    text-align: end;
    margin-top: 0.3em;
}

.twoGridNestedRight > p > a:hover {
    color:rgb(243, 161, 53);
}

.twoGridNestedLeft > img{
    width: 15px;
    height: 15px;
    float: left;
} 

.twoGridNestedLeft > p{
    padding-top: 0.5em;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
} 


.blogImage{
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.blogImageMeta{
    margin-top: 0.5em;
}

/* End of blog post selection */

 /* Extending Floating Button found Here: https://stackoverflow.com/questions/29209244/css-floating-action-button   */


 .flBtnCntr {
    display: inline-flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    position: fixed;
  }

  .flBtnBox {
    outline: 0;
    border: 0;  
    border-radius: 50%;
    background-color: rgb(245, 140, 2);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    
  }

  .flBtnBox.big {
    transform: rotate(0deg);
    background-color: rgb(245, 140, 2);
    font-size: 35px;
    height: 43px;
    width: 43px;
  }
  .flBtnBox.small {
    animation: showBtn 150ms cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
    transform: scale(0);
    background-color: white;
    outline: none;
    margin: 0 5px;
    height: 35px;
    width: 35px;
  }
  .flBtnBox.small:nth-child(2) {
    animation-delay: 150ms
  }
  .flBtnBox.small:nth-child(3) {
    animation-delay: 300ms
  }

  @keyframes showBtn {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1)
    }
  }
  

  .flBtnBox.big:hover {
    box-shadow: 0 0 10px rgba(41,120,211,0.4);
    animation: out 1s;
  }

  .flBtnBox.big:active {
    box-shadow: 0 0 10px rgba(41,120,211,0.4);
    animation: out 1s;
  }
  
  @keyframes out {
    0% {
      -webkit-transform: rotate(-90deg);
    }
  
    100% {
      -webkit-transform: rotate(0deg);
    }
  }

  .flBtnBox.small:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.3)
  }

  .flBtns {
    position: absolute;
    left: 100%;
    top: 0;
    bottom: 0;
    display: none;
    padding: 0 5px;
    align-items: center
  }
  .flBtnCntr:hover .flBtns {
    display: inline-flex
  }

/* End of Extending Floating Button*/

/* About Me secion specific content */

.aboutMePicture {
  margin-top: 1.5em;
  margin-bottom: 2em;
  margin-right: 2em;
  border-radius: 80%;
  float: left;
  shape-outside: circle();
}

.aboutMe p{
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 22px;
  margin-left: 1.8em;
  margin-right: 2.5em;
}

.aboutMeQuote{
  text-align: end;
  margin-bottom: 3em;
}

/* End of About Me secion specific content */

/* Link Underline (Source: https://tobiasahlin.com/blog/css-trick-animating-link-underlines/) */

.email {
  position: relative;
  color: #000;
  text-decoration: none;
}

.email:hover {
  color: #000;
}

.email::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.email:hover::before {
  transform: scaleX(1);
}

/* Contact Page specific content */

.contactText p {
  font-family: "Lora", serif;
font-weight: 400;
font-size: 20px;
margin-left: 4.5em;
margin-right: 4.5em;
text-align: justify;
}

.contactText > p > a {
font-family: "Lora", serif;
font-weight: 400;
font-size: 30px;
}

.fb-share-button >{
  margin-left: 5em;
}